<% content_for :title do %>HADashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Stweather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
<div data-id="Study" data-view="Stdimmer" data-icon="lightbulb-o" data-title="Study" data-device="Study" data-event-click="onClick"></div>    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Hallway" data-view="Stdimmer" data-icon="lightbulb-o" data-title="Hallway" data-device="Hallway" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Stairs" data-view="Stdimmer" data-icon="lightbulb-o" data-title="Stairs" data-device="Stairs" data-event-click="onClick"></div>
    </li>

	  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="frontdoorcontact" data-view="Stcontact" data-title="Front Door" data-device="Front Sensor"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="backdoorcontact" data-view="Stcontact" data-title="Back Door" data-device="Back Sensor"></div>
    </li>
	  
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Bedroom" data-view="Stdimmer" data-icon="lightbulb-o" data-title="Bedroom" data-device="Bedroom" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Mia" data-view="Stdimmer" data-icon="lightbulb-o" data-title="Mia" data-device="Mia" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Garage" data-view="Stdimmer" data-icon="lightbulb-o" data-title="Garage" data-device="Garage" data-event-click="onClick"></div>
    </li>
	  
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presence1" data-view="Stpresence" data-title="Matt" data-device="Matt Arrival"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presence2" data-view="Stpresence" data-title="Karen" data-device="Karen Arrival"></div>
    </li>

	  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fronttemp" data-view="Sttemp" data-title="Front" data-device="Front Door"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="backtemp" data-view="Sttemp" data-title="Back" data-device="Back Door"></div>
    </li>
	 
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fdlock" data-view="Stlock" data-title="Front Door" data-device="Front Door Lock"></div>
    </li>
	  
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mode" data-view="Stmode" data-title="Current Mode"></div>
    </li>
	  
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="morningmode" data-view="Stmodechange" data-title="Good Morning" data-icon="sun-o" data-changemode="Home" data-phrase="Good Morning!" data-countdown="5"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nightmode" data-view="Stmodechange" data-title="Good Night" data-icon="moon-o" data-changemode="Home" data-phrase="Good Night!" data-countdown="30"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="goodbyemode" data-view="Stmodechange" data-title="Goodbye" data-icon="suitcase" data-changemode="Away" data-phrase="Goodbye!" data-countdown="30"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="imbackmode" data-view="Stmodechange" data-title="I'm Back" data-icon="home" data-changemode="Home" data-phrase="I'm Back!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wearebackmode" data-view="Stmodechange" data-title="We Are Back" data-icon="home" data-changemode="Home" data-phrase="We Are Back!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="Changepage" data-icon="arrow-right" data-title="Dashboard 2" data-page="2" data-stagger="false" data-fasttransition="true"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>

  </ul>
</div>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="text2" data-view="Text" data-text="Dashboard 2" ></div>
    </li>
	  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage3" data-view="Changepage" data-icon="arrow-left" data-title="Back" data-page="1"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>
 </ul>
</div>
